.email {
    max-width: 480px;
    max-height: 61px;
    width: 50%;
    height: 7vh;

    background: #FFFFFF;
    border: 1px solid #ADA9BB;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #010620;

}

.email :focus {
    border: 1px solid #ADA9BB;
    border-color: blue;
}

.password {
    max-width: 480px;
    max-height: 61px;
    width: 50%;
    height: 7vh;

    background: #FFFFFF;
    border: 1px solid #ADA9BB;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #010620;

}