.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    width: 100%;
    height: 7%;
    background: #5784BA;
}

.burger-icon, .chat-icon {
    margin-left: 1vw;
    margin-right: 1vw;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
    }
}